.non-creatable-single-select-dropdown-styles{
  color: #212121;
  font-weight: 400;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
