.report-employer-job-wise-data-card{
  width: 49.2%;
  height: auto;
  background-color: #ffffff;
  padding:23px 44px;
  margin-bottom: 20px;
}
//Ipad Pro
@media only screen and (max-width: 900px),
(height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape),
(width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait)  {
  .report-employer-job-wise-data-card{
    width: 49.2%;
    padding:20px 20px;
  }
}

//Ipad
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .report-employer-job-wise-data-card{
    width: 100%;
    padding:20px 20px;
  }
}
