.edit-Basic-details-main-container {
  font-family: Roboto;
  padding: 14px 30px 8px 30px;
  .edit-basic-details-item-align-1 {
    .experience-radio-button-label {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #656565;
    }
  }
  .edit-basic-details-item-align-2 {
    padding-top: 40px;
  }
  .edit-basic-details-item-align-3 {
    padding-top: 40px;
  }
  .edit-Basic-details-dropdown-label {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
  }
  .update-title-button {
    margin-top: 25px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e73a9e;
    cursor: pointer;
  }
}
