.career-fields {
  display: flex;
  flex-direction: row;
}
.box-imm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 262px;
}
.form-child {
  // width: 500px;
  width: 47.5%;
}
.full-form-child {
  width: 100%;
}

.left-child-form {
  // margin-right: 47px;
  margin-right: 4.3%;
}
.fourth {
  margin-top: 10px;
}
.one-forth-form {
  width: 45%;
}
.one-forth-form-left {
  margin-right: 10%;
}
.one-forth-form-right {
  margin-left: 47px;
  margin-left: 4.3%;
}
