.edit-desire-career-profile-container {
  padding: 14px 30px 8px 30px;
  .edit-profile-item-align-1 {

  }
  .edit-profile-item-align-2 {
    padding-top: 40px;

  }
  .edit-profile-item-align-3 {
    padding-top: 40px;
    .checkbox-text {
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #212121;
    }
  }
  .edit-profile-item-align-4 {
    padding-top: 40px;
  }
  .edit-profile-item-align-5 {
    padding-top: 40px;
  }
  .edit-profile-item-align-6 {
    padding-top: 40px;
  }
}

.view-desired-career-profile-main-wrapper {
  padding: 14px 30px 8px 30px;
}
