.employer-sign-in-email-model{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 393px;
    background-color: white;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .email-modal-close {
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        padding-right: 40px;

        .close {
            cursor: pointer;
            width: 23px;
            height: 23px;
            object-fit: contain;
          }
    }

    .Enter-OTP {
      width: 109px;
      height: 28px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #656565;
    }


      .OTP-has-been-sent-to {
        width: 269px;
        height: 32px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #757575;
      }

      .did-not-received{
        display: flex;
        flex-direction: column;
        align-items: center;

        .You-will-receive-a-c {
         // width: 271px;
          width: 215px;
          //height: 14px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #757575;
        }

        .form-child {
          width: 210px;
          height: 29px;
          object-fit: contain;
        }

        .Resend {
          width: 40px;
          height: 14px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #e73a9e;
          cursor: pointer;
          margin-top: 5px;
        }
      }
}