.employer-my-details{
    display: flex;
    flex-direction: column;

    .form-child{
        width: 100%;
    }

    input{
        margin-bottom: 2px;
    }
    .already-have-account{
        display: flex;
        align-items: center;
        padding-top: 13px;
        padding-bottom: 13px;
        span{
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            //color: #000000;
        }
        .combined-shape {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-image: linear-gradient(136deg, #f0582b, #ec0586);
            display: flex;
            justify-content: center;    
            align-items: center;
            img{
                width: 10.6px;
                height: 16.1px;
            }            
          }
    }

    .hr-line{
        opacity: 0.4;
        border: solid 0.6px #dbdbdb;
        padding: 0px;
    }
    .employer-your-experience{

        .employer-your-experience-text{
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #656565;
        }
        .employer-current-employment{
            margin-top: 39px;
            .current-employment{
                span{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    // color: #656565;
                }
            }
            
        }
        .employer-past-employment{
            .employer-past-employment-checkbox{
                span{
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    // color: #656565;
                }
            }
        }
        .add-more-employement{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #e73a9e;
                border-radius: 19px;
                padding:10px 18.34px;
                border: solid 1px #e73a9e;
                cursor: pointer;
            }
        }
    }
}

.employer-my-details > div{
    padding:33px 46px 44px 46px;
}

.save{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e73a9e;
    margin-right: 25px;
}

.discard-changes{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
    cursor: pointer;
}

.untick-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 3px;
    //border: solid 2px #f0582b;
  }
  .tick-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    //background-color: #e73a9e;
  }

  .field-heading{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
    margin-bottom: 2px;
}

.field-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    word-break: break-word;
}

.By-selecting-this-y {
    width: 263px;
    height: 48px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #757575;
  }
  