.view-profile-summary-main-container {
  padding: 0px 30px 8px 30px;

}

.edit-profile-summary-container {
  padding: 0px 30px 8px 30px;
  font-family: Roboto;
  .max-limit-number-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 8px;
    font-size: 12.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    .maximum-character-limit {
      color: #a4a4a4;
    }
    .count {
      padding-left: 2px;
      font-weight: 500;
      color: #f0582b;
    }
  }
}

.width-100-per {
  width: 100%;
}
