.Oraganisation-container{
    padding : 10px 10px 10px 10px;
    box-sizing: border-box;
    margin-left: 10px;
}
.heading{
height:40px;

}
.icons{
    float:right;
    display:flex;
    margin:10px 10px 10px 10px;
}
.icons div{
    margin-left:10px;
}
.content{
width:100%;
padding:5px auto;
justify-content: center;


}
.footer{
margin-top: 10px;

}